
.vs/abakes2/DesignTimeBuild/.dtbcache.v2
.vs/abakes2/FileContentIndex/50e37596-d8f6-493a-af6a-a534b92d83c4.vsidx
.vs/abakes2/FileContentIndex/191aa343-4011-410c-92ca-02731c7b24c4.vsidx
.vs/abakes2/FileContentIndex/547db659-6d09-4774-870c-0cd830b88f4a.vsidx
.vs/abakes2/FileContentIndex/8116ebba-5104-4809-9011-57c52243402f.vsidx
.vs/abakes2/FileContentIndex/8ae37c5b-d91d-4913-9850-94d8f762b2da.vsidx
.vs/abakes2/FileContentIndex/b54522ad-bc7a-4bed-a407-ef3d772a4941.vsidx
.vs/abakes2/FileContentIndex/ea088d5e-2386-48d9-94a8-1078d75c0bde.vsidx
.vs/abakes2/FileContentIndex/c386283b-19f7-4fe3-a01b-1129d396c19b.vsidx
.vs/abakes2/v17/.futdcache.v2
.vs/abakes2/v17/.suo
.vs/abakes2/v17/fileList.bin
.vs/ProjectEvaluation/abakes2.metadata.v5.1
.vs/ProjectEvaluation/abakes2.projects.v5.1
abakes2/bin/Debug/net6.0/abakes2.dll
abakes2/bin/Debug/net6.0/abakes2.pdb
abakes2/obj/Debug/net6.0/abakes2.dll
abakes2/obj/staticwebassets.pack.sentinel
abakes2/obj/Debug/net6.0/abakes2.pdb
