@page
@model abakes2.Pages.Admin_ChangePasswordModel
@{
}

@{
    Layout = null;
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
    <link href="~/css/AdminDashboard/styles.css" rel="stylesheet" asp-append-version="true">
    <script src="https://kit.fontawesome.com/e91d01519e.js" crossorigin="anonymous"></script>

    <title>Change Password</title>
</head>

<body>
    <!--NAV BAR-->
    <!-- Banner -->
    <!-- Banner -->
    <div class="container">
        <div class="topbar">
            <div class="logo">
                <a href="/AdminDashboard"><img src="~/img/logo/logofooter.png" alt="logo" width="75px"></a>
            </div>

            <div class="user">
                <img src="~/img/AdminDashboard/user.png" alt="">
            </div>
        </div>
        <div class="sidebar">
            <ul>
                <li>
                    <a href="/Admin_ManageCakes">
                        <i class="fas fa-birthday-cake"></i>
                        <div>Manage Cake</div>
                    </a>
                </li>
                <li>
                    <a href="/Admin_Manage3DAsset">
                        <i class="fa-brands fa-unity"></i>
                        <div>Manage 3D Asset</div>
                    </a>
                </li>
                <li>
                    <a href="/Admin_ManageOrders">
                        <i class="fas fa-receipt"></i>
                        <div>Manage Orders</div>
                    </a>
                </li>
                <li>
                    <a href="/ManagePayments">
                        <i class="fas fa-money-check"></i>
                        <div>Manage Payments</div>
                    </a>
                </li>
                <li>
                    <a href="/Admin_ManageFeedback">
                        <i class="fas fa-comments"></i>
                        <div>Manage Feedback</div>
                    </a>
                </li>
                <li>
                    <a href="/Admin_Notif">
                        <i class="fas fa-bell"></i>
                        <div>Manage Notification</div>
                    </a>
                </li>
                <li>
                    <a href="/Admin_ManageQR">
                        <i class="fas fa-qrcode"></i>
                        <div>Manage QR Code</div>
                    </a>
                </li>
                <li>
                    <a href="/Admin_ManageAcc">
                        <i class="fas fa-user"></i>
                        <div>Account Manager</div>
                    </a>
                </li>
                <li>
                    <a href="/AdminDashboard">
                        <i class="fas fa-chart-bar"></i>
                        <div>Statistical Report</div>
                    </a>
                </li>
                <li>
                    <a href="/Admin_ChangePassword"  class="active">
                        <i class="fas fa-lock"></i>
                        <div>Change Password</div>
                    </a>
                </li>
                <li>
                     <a asp-page="/index" asp-page-handler="LogOut">
                            <i class="fas fa-sign-out-alt"></i>
                        <div>Log out</div>
                    </a>
                </li>
                
            </ul>
        </div>


    <div class="main">
        <section class="page-heading" style="background-image: url('/img/contact/cover2.png');">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-content">
                            <h2>Change Password</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="account-page">
            <div class="container" style="padding-top:55px;">
                <div class="row">
                    <div class="adminbox" style="height:50%; width:550px; padding:45px; border-radius:5%;">
                        <img src="/img/logo/Logo.png" alt="logo" style="margin-bottom:20px; ">
                            <form id="ChangePassword" method="POST" asp-page-handler="ChangePassword">
                                @if (TempData["FailMessage"] != null)
                                {
                                    <div class="alert alert-danger">@TempData["FailMessage"]</div>
                                }
                                @if (TempData["AlertMessage"] != null)
                                {
                                    <div class="alert alert-success">@TempData["AlertMessage"]</div>
                                }
                                <input type="password" name="currentPassword" placeholder="Current Password" required>
                                <input type="password" name="newPassword" placeholder="New Password" required>
                                <input type="password" name="confirmNewPassword" placeholder="Confirm New Password" required>
                                <button type="submit" class="btn">Submit</button>
                                <a asp-page="/AdminDashboard" class="btn">Cancel</a>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- javascript -->

    <script>
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";
        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "300px"
            }
            else {
                MenuItems.style.maxHeight = "0px"
            }
        }
    </script>

    <!-- Toggle Form -->
    <script>
        var LoginForm = document.getElementById("LoginForm");
        var RegForm = document.getElementById("RegForm");
        var Indicator = document.getElementById("Indicator");
        function register() {
            RegForm.style.transform = "translatex(0px)";
            LoginForm.style.transform = "translatex(0px)";
            Indicator.style.transform = "translateX(100px)";

        }
        function login() {
            RegForm.style.transform = "translatex(300px)";
            LoginForm.style.transform = "translatex(300px)";
            Indicator.style.transform = "translate(0px)";

        }
    </script>

</body>