@page
@model abakes2.Pages.Customer_AddFeedbackModel
@{
}
<head>
 <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
    <title>A's Bakes - Add Feedback</title>
    <link href="vendor/bootstrap/css/homepage/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/ContactUs/damarota-blog.css " asp-append-version="true">
    <link href="~/css/footer/layout.css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/Account/PageHeading.css" rel="stylesheet" asp-append-version="true">
        <link href="~/css/badge/badge.css" rel="stylesheet" asp-append-version="true">

        

    <style>
        .image-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 20px;
            margin-top: 20px;
        }

            .image-container img, .image-container iframe {
                max-width: 100%;
                margin-bottom: 30px;
            }

        .col-md-6 {
            display: flex;
            flex-direction: column;
            text-align:left;
            margin-top: 30px;
            
        }

            .col-md-6 p {
                margin-top: 65px;
                margin-bottom: 20px;
                line-height: 3.2;
            }



    </style>

</head>

<body>

    <!-- NAV BAR -->
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="/Index"><img src="~/img/logo/Logo.png" alt="logo" width="75px"></a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="/Index">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">Order</a>
                        <ul class="dropdown-menu">
                            <li><a href="/Customer_Order3DForm" class="dropdown-item">Customize 3D</a></li>
                            @if (Model.statusconfirm != null && Model.statusconfirm.Equals("true"))
                            {
                                <li><a href="/Customer_SimpleOrder" class="dropdown-item">Order Form</a></li>
                            }
                            else
                            {
                                <li><a href="/Customer_FullCapacity_Prompt" class="dropdown-item">Order Form</a></li>
                            }
                        </ul>
                    </li>
                    <li><a href="">Gallery</a></li>
                    <li><a href="/AboutUs" class="active">About us</a></li>
                    <li><a href="/ContactUs">Contact</a></li>
                                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">Feedback</a>
                        <ul class="dropdown-menu">
                            <li><a href="/Customer_AddFeedback" class="dropdown-item">Add Feedback</a></li>
                            <li><a href="/Customer_SimpleOrder" class="dropdown-item">View Feedback</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="dropdown text-end">
                <!-- ACCOUNT IMAGE-->
                @if (Model.userconfirm == null)
                {
                    <a class="signin" href="/Account">Sign in</a>
                }
                else
                {
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="@Model.imgconfirm" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small">
                        <li><a class="dropdown-item" href="Customer_CakesForApproval?user=@Model.userconfirm">My Orders</a></li>
                        <li><a class="dropdown-item" href="/Customer_AccountSettings?user=@Model.userconfirm">Account Settings</a></li>
                        <li><a class="dropdown-item" href="/Customer_AccountInformation?user=@Model.userconfirm">Account Information</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" asp-page="/index" asp-page-handler="LogOut">Sign out</a></li>
                    </ul>
                }
                
            </div>
            <a href="/Customer_Notif" class="badge" data-badge="@Model.totalnotifCount"><img src="~/img/navbar/notification.png" width="30px" height="30px"></a>
            <a href="/Cart" class="badge" data-badge="@Model.cartCount"><img src="images/cart.png" width="30px" height="30px"></a>
            <img src="images/menu.png" class="menu-icon" onclick="menutoggle()">
        </div>
    </div>
 

    <!-- Banner -->
    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-content">

                        <h2>Add Feedback</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner -->

    <section class="contact-us">
        <div class="container">
            <div class="row">

                <div class="col-lg-12">
                    <form method="post" enctype="multipart/form-data">
                    <div class="down-contact">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="sidebar-item contact-information">
                                    <div class="sidebar-heading">
                                            <h4 style="color:rgb(159, 167, 189); font-family:Poppins ExtraBold;"><label for="fname" >Name:</label></h4>
                                            <h4 style="color:rgb(159, 167, 189); font-family:Poppins ExtraBold;"><label for="star">Star:</label></h4>
                                            <h4 style="color:rgb(159, 167, 189); font-family:Poppins ExtraBold;"><label for="cakeimage">Image:</label></h4>
                                            <h4 style="color:rgb(159, 167, 189); font-family:Poppins ExtraBold;"><label for="seccode">Security Code:</label></h4>
                                        
                                    </div>
                                    <div class="content">

                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-lg-5">
                                <div class="sidebar-item contact-information">
                                    <div class="sidebar-heading">
                                        <input type="text" id="fname" name="name"  required /><br />
                                         <div class="rate" id="star">
                                          <fieldset class="rating">
                                        <input type ="radio" id ="star5"name ="rating" value="5" required/> <label for="star5" class="full"></label> 
                                        <input type ="radio" id ="star4.5"name ="rating" value="4.5" required/> <label for="star4.5" class="half"></label> 
                                        <input type ="radio" id ="star4"name ="rating" value="4" required/> <label for="star4" class="full"></label> 
                                        <input type ="radio" id ="star3.5"name ="rating" value="3.5" required/> <label for="star3.5" class="half"></label> 
                                        <input type ="radio" id ="star3"name ="rating" value="3" required/> <label for="star3" class="full"></label> 
                                        <input type ="radio" id ="star2.5"name ="rating" value="2.5" required/> <label for="star2.5" class="half"></label> 
                                        <input type ="radio" id ="star2"name ="rating" value="2" required/> <label for="star2" class="full"></label> 
                                        <input type ="radio" id ="star1.5"name ="rating" value="1.5" required/> <label for="star1.5" class="half"></label> 
                                        <input type ="radio" id ="star1"name ="rating" value="1" required/> <label for="star1" class="full"></label> 
                                        <input type ="radio" id ="star0.5"name ="rating" value="0.5" required/> <label for="star0.5" class="half"></label> 

                                        </fieldset>
                                        </div>
                                        <br/> <br/>
                                     
                                        
                                        <input type="file" id="fileInput" name="file" required onchange="previewImage()" />
                                            
                                            
                                        <input type="text" id="seccode" name="securitycode"  required/>
                                        <br/>

                                       
                                        <br/>
                                            <a class='btn btn-btn-dark btn-sm btn-blue' style="color:rgb(173, 136, 125); font-family:Poppins ExtraBold; background-color: #fbc1b4;" href="/FeedbackCustomer"> Back </a>
                                            <button class='btn btn-btn-dark btn-sm btn-blue' style="color:rgb(173, 136, 125); font-family:Poppins ExtraBold; background-color: #fbc1b4; " type="submit"> Create </button>
                                       <br/>
                                        <span style="color: red;">@Model.errorMessage</span>
                                    </div>
                                    <div class="content">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="sidebar-item contact-information">
                                    <div class="sidebar-heading">
                                            <h4 style="color:rgb(159, 167, 189); font-family:Poppins ExtraBold;"><label for="custMessage">Message:</label></h4>
                                        <div class="content">
                                                <textarea id="message" name="textmessage" rows="10" cols="80" minlength="25" maxlength="200" required>
</textarea>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>

                    
                </div>
            </div>
    </section>

    <hr style="margin-bottom: 0" ; class="featurette-divider">

    <!--STARS -->
    @*<div class="container">
        <div class ="rating-wrap">
            <h2>Rating</h2> 
            <div class = "center">
                <fieldset class="rating">
                    <input type ="radio" id ="star5"name ="rating" value="5" /> <label for="star5" class="full"></label> 
                    <input type ="radio" id ="star4.5"name ="rating" value="4.5" /> <label for="star4.5" class="half"></label> 
                    <input type ="radio" id ="star4"name ="rating" value="4" /> <label for="star4" class="full"></label> 
                    <input type ="radio" id ="star3.5"name ="rating" value="3.5" /> <label for="star3.5" class="half"></label> 
                    <input type ="radio" id ="star3"name ="rating" value="3" /> <label for="star3" class="full"></label> 
                    <input type ="radio" id ="star2.5"name ="rating" value="2.5" /> <label for="star2.5" class="half"></label> 
                    <input type ="radio" id ="star2"name ="rating" value="2" /> <label for="star2" class="full"></label> 
                    <input type ="radio" id ="star1.5"name ="rating" value="1.5" /> <label for="star1.5" class="half"></label> 
                    <input type ="radio" id ="star1"name ="rating" value="1" /> <label for="star1" class="full"></label> 
                    <input type ="radio" id ="star0.5"name ="rating" value="0.5" /> <label for="star0.5" class="half"></label> 

                </fieldset>

            </div>

        </div>

    </div> *@



        <!-- FOOTER -->
<div id="footerBottom" style="background-color: #f7fff8;">
    <div class="container">
        <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-4 py-5 my- border-bottom">
            <!-- Division 1 -->
            <div class="divisions col mb-3">
                <div>
                    <img class="img-fluid" src="~/img/logo/logofooter.png" style="width: 18rem;">
                </div>
                <p class="text-bottom" style="font-family: Poppins ExtraBold;">
                    Serving you sweet treats made with love ❤️
                    We accept customized cakes, cupcakes, & more! Order now!
                </p>
            </div>

            <!-- Division 2 -->
            <div class="divisions col mb-4">
                <h5 class="heading-bottom" style="font-family: Poppins ExtraBold;">Contact Us</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2" style="font-family: Poppins ExtraBold;"><img class="phone" src="~/img/logo/phone.png">+63 09164656894</li>
                    <li class="nav-item mb-2" style="font-family: Poppins ExtraBold;"><img class="mail" src="~/img/logo/mail.png"><a href="mailto:A_Bakes@gmail.com">A_Bakes@gmail.com</a></li>
                </ul>
            </div>

            <!-- Division 3 -->
            <div class="divisions col mb-4">
                <h5 class="heading-bottom" style="font-family: Poppins ExtraBold;">Follow Us</h5>
                <ul class="socials-pics nav flex-row img-fluid">
                    <li class="nav-item2 mb-2"><a href="https://www.facebook.com/a.bakesandsweets" target="_blank"><img class="socials img-fluid" src="~/img/logo/facebook.png"></a></li>
                    <li class="nav-item5 mb-2"><a href="https://www.instagram.com/a_bakesandsweets/" target="_blank"><img class="socials img-fluid" src="~/img/logo/instagram.png"></a></li>
                </ul>
            </div>

            <!-- Division 4 -->
            <div class="divisions col mb-4">
                <h5 class="heading-bottom" style="font-family: Poppins ExtraBold;">Terms and Conditions</h5>
                <button class="btn btn-primary btn-sm read-terms-btn" onclick="window.location.href='/Customer_TermsandCondition'">Read Terms</button>
            </div>
        </footer>
    </div>
    <div></div>
</div>


    <script src=".~/js/bootstrap.bundle.min.js"></script>
    <script src="star-rating.js"></script>
    <script>
        setInterval(function () {
            $.ajax({
                url: "/managecode?handler=Expiration",
                type: "GET",
                success: function (result) {
                    console.log(result);
                    // handle the response here
                },
                error: function (xhr, status, error) {
                    console.log("Error: " + error);
                }
            });
        }, 1000);



    </script>
    <script>
        function previewImage() {
            var fileInput = document.getElementById('fileInput');
            var imgPreview = document.getElementById('imgPreview');

            if (fileInput.files && fileInput.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    imgPreview.src = e.target.result;
                }

                reader.readAsDataURL(fileInput.files[0]);
            }
        }
    </script>
</body>
</html>